@page "/legacy/{type}/{id}"
@model GameEngine.Web.Pages.Legacy.OtherModel
@inject GameEngine.Web.Legacy.LegacyData legacyData
@{
    var data = await legacyData.GetLegacyRule(Model.Id) ?? throw new Exception("Unknown rule");
}
@section head
{
    <title>@data.Name - 4e</title>
    <meta property="og:title" content="@data.Name - 4e" />
    <meta name="robots" content="noindex" />
}

@(await Html.React(data switch 
{
    Api.LegacyClassDetails classDetails => "pages/legacy/class-details/class-details",
    Api.LegacyRaceDetails raceDetails => "pages/legacy/race-details/race-details",
    Api.LegacyPowerDetails powerDetails => "pages/legacy/power-details/power-details",
    Api.LegacyFeatDetails featDetails => "pages/legacy/feat-details/feat-details",
    Api.LegacyGearDetails gearDetails => "pages/legacy/gear-details/gear-details",
    Api.LegacyArmorDetails armorDetails => "pages/legacy/armor-details/armor-details",
    Api.LegacyWeaponDetails weaponDetails => "pages/legacy/weapon-details/weapon-details",
    Api.LegacyMagicItemDetails magicItemDetails => "pages/legacy/magic-item-details/magic-item-details",
    _ => "pages/legacy/unknown-details/unknown-details",
}, new { id = data.WizardsId, details = (object)data }))
