@page "/legacy/race/{id}"
@model GameEngine.Web.Pages.Legacy.Race.RaceModel
@inject GameEngine.Web.Legacy.LegacyData legacyData
@{
    var data = await legacyData.GetLegacyRaceAsync(Model.RaceId);
}
@section head
{
    <title>@data.RaceDetails.Name - 4e</title>
    <meta name="robots" content="noindex" />
}


@await Html.React("pages/legacy/race-details/race-details", new { Model.RaceId, RaceDetails = data })
